- if Restaurant.all.any?
  - @restaurants.each do |restaurant|
    %h2=link_to restaurant.name, restaurant_path(restaurant)
    %h4=restaurant.description
    - restaurant.reviews.each do |review|
      %h4= "#{review.rating}*: #{review.thoughts}"
    %h4=link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)


- else
  %h1 No restaurants yet!

%a(href=new_restaurant_path) Add a restaurant
